.constainer{
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: $containere_padding;

  h1{
    font-size: $fontSize_h1;
    text-align: center;
    margin-bottom: $margin;
  }

  h2{
    font-size: $fontSize_h2;
    text-align: center;
  }

  .connection{
    display: flex;
    flex-direction: column;
    bd1-s-
    
    &_list{
      
    }
  }

}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ddd;
    color: black;
  }
}