$fontfamily: Georgia, Times, "Times New Roman", serif;
$fontSizeBig: 40px;
$fontSizeMedium: 20px;
$fontSizeStandart: 14px;
$margin: 20px;
$padding: 20px;
$white:#fff;
$black: #000;
$grey: #6e6e6e;

$fontSize_h1: $fontSizeBig;
$fontSize_h2: $fontSizeMedium;

$containere_padding: $padding;

